@import url('https://fonts.googleapis.com/css?family=Dancing+Script:700');
@import url('https://fonts.googleapis.com/css?family=Krub:300i');

header{
  background-color: #b30000;
  width: 960px;
  height: 100px;
  margin: 0 auto;
}

h1{
  font-family: 'Dancing Script', cursive;
  color: white;
  margin-left: 15px;
}

nav ul li{
list-style: none;
/* this is going to let the items in this to be listed aside eachother insead of under eachother*/
display: inline-block;
margin-left: 10px;
margin-bottom: : 10px;

}

/* text-decoration...this is for removing the inderline of the words*/
nav ul li a{
text-decoration: none;
color: white;
font-size: 20px;
}

main{
display: inline-block;
width: 960px;
height: 400px;
}



#grid1{
  display: grid;
  grid-template-areas: "col1";
  grid-template-rows: 500px;
  grid-template-columns: 480px;
  text-align: center;
  display: inline-block;

}

#col1{
  grid-area: col1;
  /* i made this white because i couldnt figure out how to center it, so i made it dissapear without deleting it.
  If i deleted it, would it break it, or mess up the whole thing?*/
  background-color: white;
  height: 500px;
  display: block;
  width: 300px;
  display: inline-block;
}

#grid2{
display: grid;
grid-template-areas: "quoteme text"
}

#quoteme{
margin-left: 250px;
}

#text{
  font-size: 40px;
  font-family: 'Krub', sans-serif;
  color: red;
}


#grid3{
  display: grid;
  grid-template-areas: "col2 col3 col4";
  grid-template-rows: 600px;
  grid-template-columns: 300px 300px 300px;
  text-align: center;
  /* i added this to center it. because i couldnt figure out how. same with the image, and i cant
  figure out how to center the pink box*/
  margin-left: 140px;

}

#col2{
grid-area: col2;
height: 250px;

background-color: white;
width: 300px;
}

#col3{
  grid-area: col3;
  background-color: white;
  height: 200px;
  width: 300px;
  padding-top: 50px;
  margin-left: 5px;
}

#col4{
  grid-area: col4;
  background-color: white;
  height: 250px;
  width: 300px;
}

.images{
width: 960px;
margin-left: 143px;


}

/*
#imgtext1{
  margin-top: 100px;
  width: 300px;
}
*/

footer{
background-color: black;
width: 960px;
height: 100px;
margin: 0 auto;
/*withouth this, my footer was in my text. Why?*/
margin-top: 500px;
border-top: 15px;
border-color: red;
}
