@import url('https://fonts.googleapis.com/css?family=Alice|Cormorant+Upright|Dancing+Script:700');

/*
  header{
    background-color: blue;
    align-items: center;
    text-align: center;
  }
*/
  nav ul li{
  list-style: none;
  /* this is going to let the items in this to be listed aside eachother insead of under eachother*/
  display: inline-block;
  margin-left: 10px;
  margin-bottom: : 10px;
  }
  /* text-decoration...this is for removing the inderline of the words*/
  nav ul li a{
  text-decoration: none;
  color: pink;
  font-size: 20px;
  }
#grid1{
display: grid;
grid-template-areas: "image1 image2 image3";
grid-template-columns:310px 310px 310px;
grid-template-rows: 300px ;
margin-left: 110px;
}
#image1{

  margin: 30px;

  width: 300px;
}
#image2{

  margin: 30px;

  width: 300px;
}
#image3{
margin:30px;

width: 300px
}

#grid2{
display: grid;
grid-template-areas: "image4 image5 image6";
grid-template-columns:310px 310px 310px;
grid-template-rows: 300px ;
margin-left: 110px;
}
#image4{

  margin: 30px;

  width: 300px;
}
#image5{

  margin: 30px;

  width: 300px;
}
#image6{
margin: 30px;

width: 300px;
}

#grid3{
display: grid;
grid-template-areas: "image7 image8 image9";
grid-template-columns:310px 310px 310px;
grid-template-rows: 300px ;
margin-left: 110px;
}
#image7{

  margin: 30px;

  width: 300px;
}
#image8{

  margin: 30px;

  width: 300px;
}
#image9{
margin: 30px;

width: 300px;
}
#textgrid1{
  display: grid;
  grid-template-areas: "text1 text2 text3";
  grid-template-rows: 200px;
  grid-template-columns: 310px 310px 310px;
  margin-left: 165px;
  margin-top: 28px;
}
#text1{

margin: 30px;
}
#text2{

  margin: 30px;
}
#text3{

  margin: 30px;
}

#textgrid2{
  display: grid;
  grid-template-areas: "text1 text2 text3";
  grid-template-rows: 200px;
  grid-template-columns: 310px 310px 310px;
  margin-left: 165px;
  margin-top: 28px;
}
#text4{

margin: 30px;
}
#text5{

  margin: 30px;
}
#text6{

  margin: 30px;
}

#textgrid3{
  display: grid;
  grid-template-areas: "text1 text2 text3";
  grid-template-rows: 200px;
  grid-template-columns: 310px 310px 310px;
  margin-left: 165px;
  margin-top: 28px;
}
#text7{

margin: 30px;
}
#text8{

  margin: 30px;
}
#text9{

  margin: 30px;
}


  footer{
    text-align: center;
    background-color: pink;
    margin-top: 40px;
    font-family: 'Alice', serif;
  }
.dot{
  font-size: 25px;
  margin-bottom: -10px;
  margin-top: -20px;
}
.paragraph{
  font-family: 'Alice', serif;
  font-size: 15px;
  text-align: center;
}
h2{
  font-family: 'Alice', serif;
  font-size: 20px;
  text-align: center;
}

body {margin:0;}

.navbar {
  overflow: hidden;
  background-color: pink;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}
#button{
  margin-left: 550px;
}
a{
  font-size: 25px;
  font-family: 'Alice', serif;
  color: #ff66b3;
  align-content: center;
  margin-top: 7px;
  text-decoration: none;

}
a:hover{
  text-decoration: underline;
  color: #ff0080;
}
